/**
 * Base.scss
 * Handle base html styles (body, p, a, etc). 
 * Note that in many cases, there is a separate module to 
 * handle a particular type of body element. For example,
 * h1, h2, etc are handled in _headings.scss. 
 *
 * 
 */

body {
  color: #333;
  font-family: Georgia,Palatino,Times,"Times New Roman",serif; 
  font-size: 125%;
  line-height: 1.5;
  text-rendering:optimizeLegibility; // helps with kerning and ligatures

  &.homepage {
    background-color: #eee;
  }
}


img {
  display: block;
  font-style: italic;
  width: 100%;
  max-width: 100%;
}

blockquote {
  font-size: .9em;
  padding: .5em 2em;
  margin: 0;
  background: #eee;
}

p {
  margin: 1.6em 0;
}


@include media-query(lap-and-up){
  body {
    line-height: 1.6; 
    &.homepage {
      background-color: #fff;
    }
  }
}

// @function getEmsA( $size: $base-font-size, $context: $base-font-size){
//    // @return ($size * 1em) / ($context * 1em);
//    @return ($size / $context) * 1em;
// }

// @function getNormlizedEmsA( $n: $base-font-size ){
//   $px: $n * $base-font-size;
//   @return getEmsA($px, 16);
// }

// $lap: $content-width + (6*$gutter-width);
// $lap-start: getNormlizedEmsA($lap);

// .danny {
//   margin: $lap-start - 0.01em;
//   margin: getEmsA(12) 0 0 $gutter-width + em;
// }
