/**
 * Base.scss
 * Handle base html styles (body, p, a, etc). 
 * These should generally be unmodified tags rather than classnames or ids
 * except for a couple exceptions (for example, h1 also has an analog class, .alpha,
 * that will always be the same size so belongs here)
 * 
 */

body {
  color: #333;
  font-family: Georgia,Palatino,Times,"Times New Roman",serif; 
  font-size: 125%;
  line-height: 1.5;
  text-rendering:optimizeLegibility; // helps with kerning and ligatures
}

h1, .alpha {
  @include vendor(font-smoothing, antialiased);
  font-family: $headings;
  font-size: getEms($h2-size);
  line-height: 1.2;
  // margin: 0.5em 0;
}

h2, .beta {
  @include vendor(font-smoothing, antialiased);
  font-family: $headings;
  font-size: getEms($h3-size);
}

h3, .gamma {
  @include vendor(font-smoothing, antialiased);
  font-family: $headings;
  font-size: getEms($h4-size);
}

h4, .delta {
  @include vendor(font-smoothing, antialiased);
  font-family: $headings;
  font-size: getEms($h4-size);
}

h5, .epsilon {
  font-size: getEms($h5-size);
}

h6, .zeta {
  font-size: getEms($h6-size);
}

a {
  color: $normal-color;
  text-decoration: none;
  &:active {
    color: $red;
  }
}

img {
  display: block;
  font-style: italic;
  width: 100%;
  max-width: 100%;
}


blockquote {
  font-size: .9em;
  padding: .5em 2em;
  margin: 0;
  background: #eee;
}

p {
  margin: 1.6em 0;
  max-width: 32em;
}

@include media-query(palm){
  .homepage {
    background-color: #eee;
  }
}

@include media-query(lap-and-up){
  body {
    line-height: 1.6; 
  }

  h1, .alpha {
    font-size: getEms($h1-size);
  }
  h2, .beta {
    font-size: getEms($h2-size);
  }
  h3, .gamma {
    font-size: getEms($h3-size);
  }
}
