/**
 * Layout.scss
 * Handle the big picture layout. 
 *
 * 
 */

.content-wrapper {
  max-width: $desk-content-width;
  margin: 0 0.75em;
}

@include media-query(lap-and-up){
  .content-wrapper {
    margin: 0 4em;
  }
}
@include media-query(desk-wide) {
  .content-wrapper {
    max-width: $desk-content-width;
    margin: 0 auto;
  }
}