/**
 * Layout.scss
 * Handle the big picture layout. 
 *
 * 
 */

.wrapper {
  @include vendor(box-sizing, border-box);
  max-width: $content-wrapper-width + em; 
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#primary-content {
  @include vendor(box-sizing, border-box);
  margin: 0 auto;
  position: relative;
}

.content-body {
  @include content();
  margin: 0 auto;
  padding: 0 2.5em;
}

.home {
  .content-body {
    background-color: transparent;
    margin: 0 1em;
    padding: 0;
    max-width: none;
    overflow: hidden;  
  }
}

.blog-agg {
  background-color: #fff;
  margin: 1em auto;
  padding: 1.5em;
}


@include media-query(lap-and-up) {
  .content-body {
    padding: 0 2em;
  }

  .home {
    .content-body {
      background-color: #fff;
      margin: 0 auto;
      max-width: 32em;
      padding: 0 2em;
    }
  }

  .blog-agg {
    background-color: #fff;
    margin: 1.5em auto;
    max-width: 32em;
    padding: 0;
  }

  .blog-agg {
    margin: 1.5em 0;
  }

}

@include media-query(desk-wide) {
  .wrapper {
    max-width: $widest-width+em;
  }

  #primary-content {
    margin-left: 13em;
  }
    .content-body {
      margin: 0;
      padding: 0 2em;
    }

  .home {
    .content-body {
      margin-left: 0;
    }
  }
}