---
layout: default
hero: cassis
hero-caption: Hotel sign, Cassis, France
classes: homepage, use-cards
---
  <section class="content-wrapper blog-river-wrapper">
    <header class="header agg-header">
      <h1 class="title agg-title">Latest Posts</h1>
    </header>
    <ul class="river blog-river">
      {% for post in paginator.posts %}
        {% if post.category == 'portfolio' %}
          <li class="card portfolio-card">
            {% include custom/create_portfolio_card %}
        {% else %}
          <li class="card blog-card">
            {% include custom/create_blog_card %}
        {% endif %}
        </li><!-- close the portfolio or blog card -->
      {% endfor %}
    </ul><!-- end .blog-river -->
  </section><!-- end blog-river-wrapper -->
  <!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
  {% endif %}
</div><!-- end .pagination -->
{% endif %}

</div> <!-- end .inner-wrapper -->
</div> <!-- end .wrapper -->