/**
 * Vars
 *
 * 
 */

$serif-stack:  Georgia,Palatino,Times,"Times New Roman",serif; 
$sans-stack: "Lato","Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;

$brown: #4a3420;
$blue: #9cbdc8;
$tan: #e8dbc9;
$yellow: #f5a407;
$light-blue: #e0e6ea;
$aqua: #aecdd2;
