  {% include custom/hero_image %}
    <article class="content-wrapper portfolio-post-wrapper">
        <header class="header portfolio-header">
          <div class="post-title-meta">
            <span class="post-micro-teaser">{{ page.micro-teaser }}</span><span class="divider"> / </span><span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>     
          </div>
          <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
          </header>
        <div class="content-body portfolio-body">
          {{ content }}
          {% include custom/tags_list %}
        </div>
    </article>
  </div><!-- .inner-wrapper -->
</div><!-- end .inner-wrapper -->

{% include custom/secondary %}