/**
 * Marginalia.scss
 * Enable notes in the margins
 *
 * In order to do this, you need to follow a particular bit of markup. 
 
  <div class="marginator">
    <p>
      Your paragraph text goes here...
    </p>
    <div class="marginalia">
      Your marginalia text goes here...
    </div>
  </div>
 * 
 */

.marginalia {
  color: #555;
  p {
    @include sans();
    font-size: (16/$base-font-size) + em;
    letter-spacing: 1px;
  }
}

@include media-query(desk) {
  .marginator {
    clear: both;
    margin-top: -1em;
    margin-left: 0;
    width: 47em;

    // handle all p's inside this class
    & > p {
      float: left;
      width: 22em;
    }

    // handle the p following this class
    & + p {
      clear: left;
    }
  }

  .margin-heading {
    &:after {
      content: '';
    }
  }

  .marginalia {
    background-color: white;
    float: left;
    margin: getEms(12) 0 0 $gutter-width + em;
    width: 13em; // 260px
    p { 
      font-size: ($marginaliaSize/$base-font-size) + em;
      font-weight: 300;
      font-style: normal;
      margin-top: getEms(27, 14);
    }

    .margin-heading {
      color: $red;
      display: block;
      font-weight: 500;
    }

    &:before,
    &:after {
      content: '';
    }
  }

}

@include media-query(desk-wide) {
  .marginator {
    margin-left: 0;

    // handle all p's inside this class
    & > p {
      float: left;
      width: 30em;
    }

    .marginalia {
      width: 15em; // 260px
    }

  }

}
