/**
 * Masthead
 *
 * This handles the general masthead layout styles and styles for
 * branding/logo.
 * See _nav.scss for the navigation styles
 * 
 */

.masthead-top {
  background-color: #fff;
  height: $masthead-height;
  overflow: hidden;
  padding: 0 1em;
}

.brand {
  float: left;
  overflow: hidden;
}

.logo {
  display: table-cell;
  vertical-align: middle;
  height: $masthead-height;
  width: 165/20 * 1em;
}

// micro breakpoint. 
// necessary to handle the case of logo bumping up against side of viewport
@media only screen and (min-width: 61.875em) {
  .masthead-top {
    padding: 0;
  }
}

@include media-query(desk){
  
}

@include media-query(desk-wide) {

  .masthead {
    background-color: transparent;
    float: left;
    margin: 5.5em 0 0 0;
    width: 11em;
  }

  .masthead-top {
    border-bottom: none;
  }

  .brand {
    float: none;
    padding: 0;
  } 

}

