/*
 * Notes
 *
 * Style notes at the bottom of a post.
 */

.notes {
  border-top: 1px solid #ccc;
  color: $light-text;
  font-size: getEms(18);
  padding: getEms(30, 18) 0 0 getEms(40, 18);

  .counter {
    display: block;
    float: left;
    margin-left: getEms(-40, 18);
    &:after {
      content: ".";
    }
  }
}
