/**
 * Pagination
 *
 * 
 */

.pagination {
  border-top: 1px solid #ccc;
  max-width: 34em;
  margin: 0 auto 2em auto;
  padding-top: 1em; 
  text-align: center;

  a {
    color: $blue;
  }

}

@include media-query(palm) {
  .pagination {
    margin: 1em;
  }
}

@include media-query(palm-small) {
  .pagination {
    margin: 2em 1em;
  }
}

@include media-query(desk-wide) {
  .pagination {
    margin: 2em 0 2em 2em;
  }
}

