/*
 * Paragraphs
 */

.callout {
  font-family: "ff-tisa-web-pro", Georgia, Times, serif;
  font-weight: bold;
  font-size: getEms($h2-size, $base-font-size);
  margin: getEms(32, $h2-size) 0;
 }

.intro {
  font-style: italic;
}
