/*
 * Pullquotes
 */

.pullquote {
  font-size: $h3-size;
  clear: both;
  font-family: $headings;
  .gamma {
    margin: 0;
  }
}

@include media-query(desk) {

  .plainquote {
    text-align: center;
    width: 40em;
    margin-left: -5em;
  }

  .pullquote {

    &.pull-left {
      @include pull-left(large);
    }

    &.pull-right {
      @include pull-right(large);
    }

  }
}