/* 
 * web-fonts.scss
 *
 * Handle webfonts during load and in case of failure to load.
 *
 * In this theme, web fonts are used in h1-h4 headings.
 * The fonts come from typekit, which uses a few classnames to indicate
 * load status.
 * 
 */

// default to o

h1.agg-title {
  text-indent: 0;
  font-family: $sans-stack;
  background: none;
}

.wf-loading {
  h1, h2, h3, h4, h5, h6 {
    background: url(../images/loading.gif) no-repeat;
    text-indent: -9999px;
  }
}

.wf-active {
  h1, h2, h3, h4, h5, h6 {
    @include vendor(font-smoothing, antialiased);
    font-family: $headings;
    visibility: visible;
    background: none;
    text-indent: 0;
  }
  h1.agg-title {
    font-family: $sans-stack;
  }
}

.wf-inactive {
  h1, h2, h3, h4, h5, h6 {
    font-family: $sans-stack;
    visibility: visible;
    background: none;
    text-indent: 0;
  }
}