/**
 * Layout.scss
 * Handle the big picture layout. 
 *
 */

.wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 47em; 
}

.inner-wrapper {
  position: relative;
}

// wraps both the header and the content body
.content-wrapper {
  max-width: 34em; //680px;
  margin: 0 auto;
  padding: 1.5em;
}

  .blog-river-wrapper {
    background-color: #fff;
  }

  .portfolio-river-wrapper {
    background-color: #fff;
  }

// wraps just the post or portfolio body itself (text and images) not heading.
.content-body {
  h2, h3, h4, h5, h6 {
    clear: both;
  }
}

@include media-query(portable) {
  .content-body {
    font-size: 1.1em; // 22px
  }
}

@include media-query(palm-small) {
  .content-wrapper {
    padding: 1em;
  }
  .content-body {
    font-size: 0.9em;
  }
}

@include media-query(palm-large) {

  .content-wrapper {
    margin-left: 1em;
    margin-right: 1em; 
  }

  .yes-hero {
    .content-wrapper {
      margin-top: -3.5em;
    }
  }

}

@include media-query(lap-and-up){
  .content-wrapper {
    padding: 2em;
  }
  .yes-hero {
    .content-wrapper {
      margin-top: -6em;
    }
  }
}

@include media-query(desk){
  .yes-hero {
    .content-wrapper {
      margin-top: -8em;
    }
  }
  .content-body.portfolio-body {
    padding: 0 2em 2em 2em;
  }
}


@include media-query(desk-wide) {
  .wrapper {
    max-width: 62em;
  }
  
  .inner-wrapper {
    margin-left: 11em;
  }

  .yes-hero .content-wrapper,
  .content-wrapper {
    margin-left: 2em;
  }

}