/*
 * Blog
 *
 */

.tags-page {
  .blog-river-wrapper {
    margin-top: 0;
  }
}

.blog-river {
  @include vertical-list();
  .portfolio-card {
    background-color: #111;
    margin: $spacing-small;
  }
}

.blog-card {
  background-color: #fff;
  margin: $spacing-small;
  padding: $spacing-small;
}

@include media-query(palm) {
  .blog-river-wrapper {
    margin-top: -6em;
  }
  .blog-card p {
    font-size: getEms(18);
  }
}

@include media-query(palm-large) {
  .blog-card {
    margin: $spacing-medium;
    padding: $spacing-medium;

    p {
      font-size: getEms(20);
    }
  }
  .blog-river {
    .portfolio-card {
      margin: $spacing-medium;
    }
  }
}

@include media-query(lap-and-up) {
  .blog-river-wrapper {
    @include content-on-white();
    @include main-content-wrapper();
  }

  .blog-river {
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacing-large;
    .portfolio-card {
      margin: $spacing-large 0;
    }
  }

  .blog-card {
    margin: 1.5em 0;
    padding: 0;
  }
  
  .blog-river {
    margin: $spacing-large 0;
    .portfolio-text {
      width: 60%;
    }
    .portfolio-image {
      width: 35%
    }
  }

  .teaser {
    margin-top: 0.5em;
  }

}

@include media-query(desk-wide) {
  .blog-river-wrapper,
  .post-wrapper {
    margin-left: 0;
  }
}