/* 
 * card.scss
 *
 * Base styles for the card module, which handles the cards for portfolio and blog pieces
 * 
 */

.card {
  border-bottom: 1px solid #ccc;
  margin: 1em auto;

  .teaser {
    margin-top: 0.5em;
  }
}

.card:last-of-type{
  border-bottom: none;
}

.blog-card {
  background-color: #fff;
}

.blog-card-heading {
  margin-top: 0;
  margin-bottom: 12px;
}

.card.portfolio-card {
  margin-top: 2em;
  padding-bottom: 2em;

  .portfolio-teaser {
    @include sans();
    color: $lighter-text;
    font-size: 0.8em; // 16px
  }
  .micro-teaser {
    @include slug-normal();
  }
}

// the text on a portfolio card
.portfolio-text {
  background-color: #111;
  padding: 1em;
}

h2.card-title {
  @extend h3;
  margin-bottom: getEms(14, $h3-size);
  margin-top: getEms(14, $h3-size);
}

h2.portfolio-card-title {
  color: #fff;
  margin-bottom: getEms(10, $h3-size);
  margin-top: getEms(10, $h3-size);
}

@include media-query(portable){
  .card {
    font-size: 1.1em;
  }
}
@include media-query(lap-and-up){
  .card {
    margin: 1em auto;
  }
  .blog-card {
    padding: 0;
  }
  .portfolio-text {
    padding: 2em;
  }
}
