/* 
 * Footer
 *
 */

 footer {
  border-top: 1px solid #ccc;
  margin: 4em 2em auto 2em;
  font-family: $sans;
 }

.footer-text {
  @extend %meta;
}

@include media-query(desk-wide){
  footer {
    margin-left: $column-width + $gutter-width;
 }
}