/* 
 * Footer
 *
 */

 footer {
  background-color: #333;
  border-top: 1px solid #444;
  clear: both;
  margin: 0;
  padding: 0.5em 2em;
  font-family: $sans;
 }

.footer-text {
  @extend %meta;
}

@include media-query(lap-and-up){
  .footer-body {
    max-width: 32em;
    margin: 0 auto;
  }
}

@include media-query(desk-wide){
  footer {
    margin-right: 0;
 }
}