/**
 * Headings.scss
 * Each heading element gets a separate class so that heading sizes.
 * can be applied as necessary to other elements.
 *
 * 
 */

h1,.alpha{
  font-size: $h1-size;
  margin-bottom: (28/38) + em;
}
h2,.beta{
  @include font-size($h2-size);
}
h3,.gamma{
  font-size: $h3-size;
  margin-bottom: (28/29) + em;
}
h4,.delta{
  @include font-size($h4-size);
}
h5,.epsilon{
  @include font-size($h5-size);
}
h6,.zeta{
  @include font-size($h6-size);
}
