/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.screenreaders{
  position: absolute;
  left: -999em;
}

.hidesmall {
  display: none;
}

.no-margin-top {
  margin-top: 0;
}

@include media-query(lap-and-up) {
  .hidesmall {
    display: block;
  }
}