/**
 * Images.scss
 *
 * Note also image-hero, which handles the big hero images
 * and pull-push, which pushes and pulls images and quotes.
 *
 */

.no-resize {
  width: auto;
}

.caption {
  @include small-text();
  margin: .5em 0;
  max-width: 48em;
}

.pic-medium {
  
  width: 40%;
  
  margin-top: .35em;

  &.pull-left {
    float: left;
    margin-right: 5%;
  }

  &.push-right {
    float: right;
    margin-left: 5%;
  }

}

@include media-query(palm) {
  .pic-medium {
    .caption {
      display: none;
    }
  }
}

@include media-query(lap-and-up) {
  .pic-large {
    width: 100%;
  }
}

@include media-query(desk) {

  .pic-large {
    margin-left: -7.5em; 
    width: 47em;
  }

}

@include media-query(desk-wide) {
  .pic-large {
    margin-left: 0;
    width: 51em;
  }

}