/**
 * Links
 *
 * 
 */

a {
  @include transition(color);
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $red;
    // text-decoration: underline;
  }
}

.agg-link:hover {
  color: $normal-color;
}

.cta {
  display: inline-block;
  text-decoration: none;
}

.plain {
  color: $normal-color;

  &:hover {
    color: $blue;
  }
}

.post-tags {
  .tag {
    border: 1px solid #ccc;
    font-family: $sans;
    font-size: getEms(14);
    padding: .5em 1em;
  }  
}
