/**
 * Links
 *
 * 
 */

a {
  color: $blue;
  text-decoration: none;
}

.cta {
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $normal-color;
  }
}

.plain,
.tag {
  color: $normal-color;

  &:hover {
    color: $blue;
  }
}