/**
 * Lists
 *
 * Ordered and unordered lists
 * 
 */

.main-content {
  ul,
  ol {
    font-size: 1em;
    padding-left: 2em;
  }
}

ul.posts {
  list-style-type: none;
  padding: 0;
}

.agg-tags {
  display: inline;
  padding: 0;
}

.inline {
  display: inline;
}

.post-tags {
  margin-left: -.5em;
  padding: 0;
  
  .inline {
    padding-left: .5em;
  }

}

