/**
 * Marginalia.scss
 * Enable notes in the margins
 *
 * In order to do this, you need to follow a particular bit of markup. 
 
  <div class="marginator">
    <p>
      Your paragraph text goes here...
    </p>
    <div class="marginalia">
      Your marginalia text goes here...
    </div>
  </div>
 * 
 */

.marginalia {
  color: #555;
  font-style: italic;
  &:before {
    content: '(';
  }
  &:after {
    content: ')';
  }
}

@include media-query(desk) {
  .marginator {
    margin-top: -1em;
    width: 45em;

    // handle all p's inside this class
    & > p {
      float: left;
      width: $desk-content-width;
    }

    // handle the p following this class
    & + p {
      clear: left;
    }
  }

  .marginalia {
    background-color: white;
    float: left;
    margin: 24px 0 19px ( (2*$base-line-size) /$marginaliaSize) + em;
    // font-size: $marginaliaSizepx;
    font-family: Geneva, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: ($marginaliaSize/$base-line-size) + em;
    font-weight: 300;
    font-style: normal;
    width: (260/$marginaliaSize) + em; // 260px

    .margin-heading {
      color: $red;
      display: block;
    }

    &:before,
    &:after {
      content: '';
    }
  }

}
