/**
 * Masthead
 *
 * 
 */

#masthead {
  @include vendor(box-sizing, border-box);
  background-color: #fff;
}

.masthead-top {
  overflow: hidden;
}

.logo {
  float: left;
  overflow: hidden;
  padding: .5em 1em;  
}

#primary-menu {
  // display: none;
  overflow-y: hidden;
  max-height: 0;
  @include vendor(transition-property, all);
  @include vendor(transition-duration, .25s);
  @include vendor(transition-timing-function, ease-out);
  // @include vendor(transition-timing-function, cubic-bezier(0, 1, 0.5, 1));

  &.expanded {
    // display: block;
    max-height: (165/20) * 1em;
  }
}

#toggle {
  background: transparent url(../images/toggle.gif) no-repeat center center;
  cursor: pointer;
  float: right;
  height: 41px;
  padding: .5em 1em;
  width: 31px;
  text-indent: -999em;
}

.primary-nav{
    list-style:none;
    padding-left: 0;
    @extend .cf;
}

.nav-link {
  @include transition(color);
  color: #666;
  color: rgba(0,0,0,0.4);
  display:inline-block;
  *display:inline;
  font-family: $sans;
  font-size: 0.9em;
  line-height: 3.25em;
  text-decoration: none;
  // text-transform: uppercase;
  zoom:1;

  &.current {
    color: #111;
  }
}

@include media-query(palm) {
  .nav-link {
    line-height: 3em;
    background-color: #eee;
    color: #333;
    display:block;
    padding-left: 1em;

    &:active {
      background-color: #ccc;
    }
  }

  .nav-link.current {
    background-color: #999;
    color: white;
  }

  .primary-nav{
    margin: 0;
    // Stack the nav items
    > li{
        border-bottom: 1px solid white;
        display:list-item;
    }
  }
}

@include media-query(lap){
  .primary-nav {
    right: 1.5em;
  }
}

@include media-query(lap-and-up) {

  #toggle {
    display: none;
  }

  .masthead-top {
    border-bottom: 1px solid #ccc;
  }

  #primary-menu {
    display: block;
  }

  .primary-nav {
    position: absolute;
    top: 0;
    margin: 0;
    > li {
      display: inline-block;
      margin-right: 2em;
    }
    li:last-of-type {
      margin-right: 0;
    }
  }

}


@include media-query(desk) {
  .logo {
    padding-left: 0;
  }
  .primary-nav {
    right: 0;
  }
}

@include media-query(desk-wide) {

  #masthead {
    background-color: transparent;
    float: left;
    margin: 4em 0 0 0;
    width: $column-width + em;
  }

  .masthead-top {
    border-bottom: none;
    padding-bottom: 0;
  }

  .logo {
    display: block;
    float: none;
    
  } 

  .primary-nav{
    list-style:none;
    margin-left:0;
    margin-top: 1em;
    position: static;

    > li{
        display:list-item;
        margin: 0;
        padding: 0;
    }
  }

  .nav-link {
    display: block;
  }

}

