/**
 * Nav
 *
 * Handle the main menu.
 * #primary-menu uses an id so it can be a hook for js.
 *
 * Following is the markup as made by _includes/custom/masthead:
 * 
 * <nav id="primary-menu" class="closed">
 *   <ul class="nav">
 *     <li><a href="#" class="nav-link">Home</a></li>
 *
 *
 */

.nav{
  list-style:none;
  padding-left: 0;
}

.nav-link {
  color: #666;
  color: rgba(0,0,0,0.4);
  display:inline-block;
  *display:inline;
  font-family: $sans-stack;
  font-size: 0.9em;
  line-height: 3.25em;
  text-decoration: none;
  zoom:1;

  &.current {
    color: #111;
  }
}

@include media-query(palm) {
  #primary-menu {
    overflow-y: hidden;
    max-height: 0;
    @include vendor(transition-property, all);
    @include vendor(transition-duration, .25s);
    @include vendor(transition-timing-function, ease-out);

    &.expanded {
      max-height: (165/20) * 1em;
    }
  }

  #nav-toggle {
    background: transparent url(../images/toggle.gif) no-repeat center center;
    cursor: pointer;
    float: right;
    display: table-cell;
    vertical-align: middle;
    // The toggle is a bitmap image, 31x41; live with it for now...
    width: 31px;
    height: $masthead-height; // height of masthead area 
  }

  .nav-link {
    line-height: 3em;
    background-color: #eee;
    color: #333;
    display:block;
    padding-left: 0.75em;

    &:active {
      background-color: #ccc;
    }
  }

  .nav-link.current {
    background-color: #999;
    color: white;
  }

  .nav{
    margin: 0;
    // Stack the nav items
    > li{
        border-bottom: 1px solid white;
        display:list-item;
    }
  }
}

@include media-query(lap-and-up) {
  #nav-toggle {
    display: none;
  }

  .nav {
    position: absolute;
    right: 1em;
    top: 0;
    margin: 0;
    > li {
      display: inline-block;
      margin-right: 2em;
    }
    li:last-of-type {
      margin-right: 0;
    }
  }

}

// micro breakpoint. 
// necessary to handle the case of logo bumping up against side of viewport
@media only screen and (min-width: 61.875em) {
  .nav {
    right: 0;
  }
}

@include media-query(desk-wide) {

  .nav{
    list-style:none;
    margin-left:0;
    margin-top: 1em;
    position: static;

    > li{
        display:list-item;
        margin: 0;
        padding: 0;
    }
  }

  .nav-link {
    display: block;
    padding-left: 0;
  }

}