/**
 * Paragraphs
 *
 * Callout typography
 * 
 */

 .callout {
  font-family: "ff-tisa-web-pro", Georgia, Times, serif;
  font-weight: bold;
  font-size: $h2-size;
 }

.intro {
  font-weight: bold;
}