/**
 * Porfolio
 *
 * This covers styles for the following pages:
 *   > portfolio aggregation page (portfolio_index.html)
 *   > portfolio post pages
 *   > blog aggregation pages (e.g. index.html)
 * 
 */

.blog-river {
  // li.portfolio-card ~ li.portfolio-card {
  //   margin: 0;
  // }
  // li.portfolio-card ~ li.portfolio-card:nth-of-type(even) {
  //   background-color:#333;
  // }
}


// Styles for Portfolio aggregation page (portfolio_index.html)
.portfolio-wrapper {
  margin: 0 auto;
  width: 100%;

  li {
    background-color: #000;
    border-bottom: 1px solid #333;
  }
  li:nth-of-type(even) {
    background-color: #1a1a1a;
  }
}

.portfolio-card {
  background-color: #111;
  box-sizing: content-box;
  border-bottom: 1px solid #444;

}

.portfolio-text {
  @include vendor(box-sizing, border-box);
  padding: 2em;
}

.micro-teaser {
  @include slug-normal();
}

.post-micro-teaser {
  @include slug-normal(14);
}

.portfolio-title {
  color: #eee;
  font-weight: normal;
  margin-bottom: 0.41666667em;
}

.portfolio-teaser {
  @include sans();
  color: $lighter-text;
  font-size: 0.8em; // 16px
  margin: 0;
}

@include media-query(palm-small) {

}

@include media-query(palm-large){

}

@include media-query(lap-and-up){
  .portfolio-wrapper {
    margin: 1.5em;
    width: auto;
  }

  .portfolio-text {
    margin-left: 0;
    width:100%;
  }

  .portfolio-title {
    font-size: getEms($h3-size);
    line-height: 1.25;
  }
  
}

@include media-query(desk) {
  .portfolio-wrapper {
    margin-bottom: 1em;
  }
}

@include media-query(desk-wide) {
  #primary-content.portfolio-wrapper {
    margin-top: $spacing-large; // 2em
    margin-bottom: $spacing-large; // 2em
  }

  .portfolio-wrapper {
    margin: 0;
    margin-top: $spacing-large;
    max-width: $content-wrapper-width + $gutter-width + em;

    li {
      margin-left: -$spacing-large; // -2em
    }
  }


  .portfolio-post {
    .post-header {
      margin-left: 0;
    }
  }
}