/**
 * Porfolio
 *
 * This covers styles for the following pages:
 *   > portfolio aggregation page (portfolio_index.html)
 *   > portfolio post pages
 *   > blog aggregation pages (e.g. index.html)
 * 
 */


// Styles for Portfolio aggregation page (portfolio_index.html)
.portfolio-wrapper {
  margin: 0 auto;
  width: 100%;
}

.portfolio-card {
  background-color: #111;
  box-sizing: content-box;
  margin: $spacing-medium;

  > a {
    display: block;
    overflow: hidden;
    padding: $spacing-medium;
  }

}

.homepage {
  a.portfolio-piece {
    border-bottom: none;
  }
}

// Styles for Portfolio post page (e.g. a single portfolio piece)
.portfolio-post {
  .post-header {
    background-color: #111;
    padding: 1.5em 1.5em 1em 1.5em;
    h1 {
      color: #fff;
      margin-bottom: .5em;
    }
    .post-date {
      color: #777;
    }
  }
}

.portfolio-text {
  @include vendor(box-sizing, border-box);
}

.micro-teaser {
  @include slug-normal();
}

.post-micro-teaser {
  @include slug-normal(14);
}

.portfolio-title {
  color: #eee;
  font-weight: normal;
  margin-bottom: 0.41666667em;
}

.portfolio-teaser {
  @include sans();
  color: $lighter-text;
  font-size: 0.8em; // 16px
  margin-top: 0;
}

@include media-query(palm-small) {

  .portfolio-card {
    margin: $spacing-small;

    > a {
      padding: $spacing-small;
    }
  }
}

@include media-query(palm-large){
  .portfolio-text {
    float: left;
    margin-right: 5%;
    width:47.5%;
  }
  .portfolio-image {
    float: left;
    width: 47.5%;
  }
}

@include media-query(lap-and-up){
  .portfolio-wrapper {
    margin: 1.5em;
    width: auto;
  }

  .portfolio-card {
    margin: 1.5em 0;
  }

  .portfolio-text {
    float: left;
    margin-right: 5%;
    width:35%;
  }
  .portfolio-image {
    float: left;
    width: 60%;
  }
  .portfolio-title {
    font-size: getEms($h3-size);
    line-height: 1.25;
  }
  
  .portfolio-post {
    .post-header {
      padding: 2em 2em 1em 2em;
    }
  }
}

@include media-query(desk) {
  .portfolio-wrapper {
    margin-bottom: 1em;
  }
}

@include media-query(desk-wide) {
  #primary-content.portfolio-wrapper {
    margin-top: $spacing-large; // 2em
    margin-bottom: $spacing-large; // 2em
  }

  .portfolio-wrapper {
    margin: 0;
    margin-top: $spacing-large;
    max-width: $content-wrapper-width + $gutter-width + em;

    li {
      margin-left: -$spacing-large; // -2em
    }
  }

  .portfolio-card {
    > a {
      padding: $spacing-large; // 2em   
    }
  }

  .portfolio-post {
    .post-header {
      margin-left: 0;
    }
  }
}