/**
 * Porfolio
 *
 * 
 */

// on index page
.portfolio-agg {
  background-color: #111;
  box-sizing: content-box;
  margin: 1em auto;
  padding: 1.5em;
}

// on portfolio page
.portfolio-wrapper {
  margin: 0 auto;
  width: 100%;

  li {
    background-color: #1a1a1a;  
    overflow: hidden;
    &:nth-of-type(even) {
      background-color:#000;
    }
  }
}

.portfolio-post {
  .post-header {
    background-color: #111;
    padding: 1.5em 1.5em 1em 1.5em;
    h1 {
      color: #fff;
      margin-bottom: .5em;
    }
    .post-date {
      color: #777;
    }
  }
}

.portfolio-piece {
  border-bottom: 1px solid #333;
  color: $red;
  display: block;
  padding: 1.5em;
  overflow: hidden;
}

.homepage {
  .portfolio-piece {
    padding: 0;
    border-bottom: none;
  }
}

  .portfolio-text {
    @include vendor(box-sizing, border-box);
  }
  // Inside of .portfolio-text
    .micro-teaser {
      @include slug-title(14, false);
      color: $red;
      -webkit-font-smoothing: antialiased;
    }

    .portfolio-title {
      color: #eee;
      font-size: 1.2em;
      font-weight: normal;
      margin-bottom: 0.41666667em;
    }

    .portfolio-teaser {
      color: #999;
      font-family: $sans;
      font-size: 0.8em; // 16px
      margin-top: 0;
      max-width: 36em;
    }

@include media-query(large-palm){
  .portfolio-text {
    float: left;
    margin-right: 5%;
    width:47.5%;
  }
  .portfolio-image {
    float: left;
    width: 47.5%;
  }
}

@include media-query(lap-and-up){
  .portfolio-wrapper {
    margin: 1.5em;
    width: auto;
  }

  .portfolio-agg {
    margin: 2em 0;
  }

  .portfolio-text {
    float: left;
    margin-right: 5%;
    width:35%;
  }
  .portfolio-image {
    float: left;
    width: 60%;
  }
  .portfolio-title {
    line-height: 1.25;
  }

  // Styles for portfolio pieces that appear in the blog river
  .portfolio-agg {
    .portfolio-text {
      width: 60%;
    }
    .portfolio-image {
      width: 35%
    }
  }
  .portfolio-post {
    .post-header {
      padding: 2em 2em 1em 2em;
    }
  }
}

@include media-query(desk) {
  
}

@include media-query(desk-wide) {
  #primary-content.portfolio-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .portfolio-wrapper {
    margin: 0;
    margin-top: 2em;
    max-width: $content-wrapper-width + $gutter-width + em;

    li {
      margin-left: -2em;
    }
  }

  .portfolio-piece {
    padding: 2em;
  }

  .portfolio-post {
    .post-header {
      margin-left: 0;
    }
  }
}