/**
 * Secondary
 *
 * Styles for secondary content, such as next and previous
 * or related posts. This is content that is part of the main content
 * area (i.e. not part of the masthead or footer) but not part of
 * the primary content.
 */

#secondary-content {
  background-color: #111;
  color: #999;
  overflow: hidden;

  .posts,
  .return {
    max-width: 32em;
    margin: 2em auto;
    padding: 0 1em;
  }

  .blog-heading a {
    color: #ccc;
  }
}

@include media-query(large-palm) {
  #secondary-content {
    .posts,
    .return {
      padding: 0 2.5em;
    }
  }
}

