/**
 * Tags
 *
 * 
 */

.post-tags {
  font-style: italic;
  margin-left: -.5em;
  padding: 0;
  
  .inline {
    padding-left: .5em;
  }

}

.quoted  {
  quotes: "“" "”" "‘" "’";
}
.quoted:before {
    content: open-quote;
}
.quoted:after {
    content: close-quote;
}

.setup {
  text-transform: none;
  color: #333;
  font-style: italic;
}