---
layout: default
classes: tags
---
{% include JB/setup %}

<section id="primary-content" class="tags-page">
 <div class="blog-river-wrapper">
    <header class="post-heading">
      <div class="blog-river-title"><span class="setup">Items tagged </span><span class="quoted">{{ page.tag }}</span></div>
    </header>
    <ul class="blog-river">
      {% for post in site.posts %}
        {% for tag in post.tags %}
          {% if tag == page.tag %}
            {% if post.category == 'portfolio' %}
              <li class="portfolio-card">
                <a href="{{ BASE_PATH }}{{ post.url }}" class="portfolio-piece">
                <div class="portfolio-text">
                  <div class="slugger">
                    <div class="micro-teaser">{{ post.micro-teaser }}</div>
                    <h4 class="portfolio-title">{{ post.title }}</h4>
                  </div>
                  <p class="portfolio-teaser">{{ post.teaser }}</p>
                </div>
                {% if post.image %}
                  <div class="portfolio-image">
                    <span data-picture data-alt="Portfolio image">
                      <span data-src="/assets/images/portfolio-images/{{ post.image }}-small.jpg"></span>
                      <span data-src="/assets/images/portfolio-images/{{ post.image }}-thumb-large.jpg" data-media="(min-width: {{ site.AK.lap_size }})"></span>
                      <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                      <noscript>
                        <img src="/assets/images/portfolio-images/{{ post.image }}-small.jpg">
                      </noscript>
                    </span>
                  </div>
                {% endif %}
                  </a>
              {% else %}
                  <li class="blog-card">
                    <h2 class="blog-card-heading"><a href="{{ BASE_PATH }}{{ post.url }}" class="agg-link">{{ post.title }}</a></h2>
                    <div class="agg-title-meta">{{ post.date | date: "%B %d, %Y" }}</div>
                    <p class="teaser">{{ post.teaser }}</p>
              {% endif %}
              </li>
            {% endif %}
        {% endfor %}
      {% endfor %}
    </ul><!-- end .blog-river -->
  </div><!-- end blog-river-wrapper -->
</div>
<section>
