---
layout: default
assets: winesmarts
hero: winesmarts
hero-caption: Packaging design
hero-caption: Hotel sign, Cassis, France
classes: tags, use-cards
---
{% include JB/setup %}
 <section class="content-wrapper blog-river-wrapper">
    <header class="header agg-header">
      <h1 class="title agg-title"><span class="tag-title-text">Items tagged</span> <span class="tag-name-text quoted">{{ page.tag }}</span></h1>
    </header>
    <ul class="river blog-river">
      {% for post in site.posts %}
        {% for tag in post.tags %}
          {% if tag == page.tag %}
            {% if post.category == 'portfolio' %}
              <li class="card portfolio-card">
                {% include custom/create_portfolio_card %}
            {% else %}
                <li class="card blog-card">
                  {% include custom/create_blog_card %}
            {% endif  %}
              </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul><!-- end .blog-river -->
  </section><!-- end content-wrapper -->
    </div> <!-- end .inner-wrapper -->
</div> <!-- end .wrapper -->